<mat-card>
  <mat-card-title>Order by salary</mat-card-title>
  <mat-card-content>
    <mat-list role="list" fxLayout="row">
      <mat-list-item role="listitem" *ngFor="let item of orders | async" (click)="sort(item)">{{item}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Age range</mat-card-title>
  <mat-card-content>
    <mat-list role="list" fxLayout="row">
      <mat-list-item role="listitem" *ngFor="let item of ranges | async" (click)="selectRange(item)">{{item}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Employees</mat-card-title>
  <mat-card-content>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let item of employees$ | async">{{item.name}} {{item.salary}} {{item.age}}</mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

