<mat-chip-list aria-label="Fish selection">
  <mat-chip *ngFor="let item of chip$ | async">
 {{item}}
</mat-chip>
</mat-chip-list>
<form [formGroup]="search">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose an option</mat-label>
      <input type="text"
             placeholder="Pick one"
             matInput
             formControlName="crypto"
             [matAutocomplete]="crypto">
      <mat-autocomplete #crypto="matAutocomplete">
        <mat-option *ngFor="let item of crypto$ | async" [value]="item.symbol" (click)="addChip(item.symbol)">
          {{item.symbol}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</form>


